.clearFix::after{
    clear: both;
    content: "";
    display: block;
}

body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: 	black;
}

#main-container {
    width: $maxWidth;
    height: $maxHeight;
    position: absolute;
    border: 1px solid black;
    background-color:#a2798f; 
    border-radius: 0px;
    animation: colorChangeMainBlock 3s infinite;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
}

.block {
    height: (($maxHeight / 3) - ($mainMargin * 4));
    margin: $mainMargin;
    position: relative;
    float: left;
    border: 1px solid black;
    border-radius: 0px;
}

.firstRow div {
    width: 48%;
    float: left;
    animation: colorChangeBlock1 3s infinite;
}

.secondRow div:first-child{
    width: 23%;
    float: left;
    animation: colorChangeBlock2 3s infinite;
}

.secondRow div:nth-child(2){
    width: 73%;
    float: left;
    animation: colorChangeBlock3 3s infinite;
}

.thirdRow div:first-child{
    width: 98%;
    float: left;
    animation: colorChangeBlock4 3s infinite;
}

.blockContent {
    position: relative;
    top: 50%;
    left: 50%;
    font-size: $fontSize;
    animation: resizeFont 3s infinite;
}

.colorBlock-1 {
    background-color:#edc951;
}

.colorBlock-2 {
    background-color:#00a0b0;
}
