
@keyframes colorChangeMainBlock {
    0%{
        width: $maxWidth;
        height: $maxHeight;
        border-radius: 0px;
        background-color:#a2798f; 
    }
    50%{
        width: $minWidth;
        height: $minHeight;
        border-radius: 70px;
        background-color:#00a0b0; 

    }
    100%{
        width: $maxWidth;
        height: $maxHeight;
        border-radius: 0px;
        background-color:#a2798f; 
    }
}


@keyframes colorChangeBlock1 {
    0%{
        width: (($maxWidth / 3) - ($mainMargin * 4));
        background-color: #edc951;
        border-radius: 0px;
    }
    50%{
        width: (($minWidth / 3) - ($mainMargin * 4));
        height: (($minHeight / 2) - ($mainMargin * 4));
        background-color: #eb6841;
        border-radius: 70px;
    }
    100%{
        width: (($maxWidth / 3) - ($mainMargin * 4));
        background-color: #edc951;
        border-radius: 0px;
    }
}

@keyframes colorChangeBlock2 {
    0%{
        background-color:#00a0b0;
        border-radius: 0px;
    }
    50%{
        width: (($minWidth / 3) - ($mainMargin * 4));
        height: (($minHeight / 2) - ($mainMargin * 4));
        background-color:#4f372d;
        border-radius: 70px;
    }
    100%{
        background-color:#00a0b0;
        border-radius: 0px;
    }
}

@keyframes resizeFont {
    0%{
        font-size: $fontSize;
    }
    50%{
        font-size: ($fontSize - 1);
    }
    100%{
        font-size: $fontSize;
    }
}