#main-container {
    width: $maxWidth;
    height: $maxHeight;
    position: absolute;
    border: 1px solid black;
    background-color:#a2798f; 
    padding: 0;
    margin: 0;
    border-radius: 0px;
    animation: colorChangeMainBlock 3s infinite;
}

@keyframes colorChangeMainBlock {
    0%{
        border-radius: 0px;
        background-color:#a2798f; 
    }
    50%{
        border-radius: 70px;
        background-color:#00a0b0; 

    }
    100%{
        border-radius: 0px;
        background-color:#a2798f; 
    }
}

.block {
    width: (($maxWidth / 3) - ($mainMargin * 4));
    height: (($maxHeight / 2) - ($mainMargin * 4));
    margin: $mainMargin;
    position: relative;
    float: left;
    border: 1px solid black;
    border-radius: 0px;
}

.colorBlock-1 {
    background-color:#edc951;
    animation: colorChangeBlock1 3s infinite;
}

.colorBlock-2 {
    background-color:#00a0b0;
    animation: colorChangeBlock2 3s infinite;
}

@keyframes colorChangeBlock1 {
    0%{
        background-color: #edc951;
        border-radius: 0px;
    }
    50%{
        background-color: #eb6841;
        border-radius: 70px;
    }
    100%{
        background-color: #edc951;
        border-radius: 0px;
    }
}

@keyframes colorChangeBlock2 {
    0%{
        background-color:#00a0b0;
        border-radius: 0px;
    }
    50%{
        background-color:#4f372d;
        border-radius: 70px;
    }
    100%{
        background-color:#00a0b0;
        border-radius: 0px;
    }
}